.u-section-1 .u-sheet-1 {
  min-height: 753px;
}

.u-section-1 .u-text-1 {
  width: 561px;
  font-family: Mitr;
  margin: 45px auto 0;
}

.u-section-1 .u-slider-1 {
  width: 758px;
  min-height: 604px;
  height: auto;
  margin: 20px auto 45px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-1 {
  background-position: 50% 79.19%;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 60px;
}

.u-section-1 .u-image-1 {
  object-position: 50% 79.19%;
  width: 638px;
  height: 461px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  font-family: Mitr;
  width: 406px;
  margin: 36px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-image-2 {
  height: 333px;
  object-position: 50% 14.98%;
  width: 341px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-family: Mitr;
  margin: 20px auto 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 991px) {
  .u-section-1 .u-slider-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1051px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-slider-1 {
    width: 540px;
    min-height: 537px;
  }

  .u-section-1 .u-image-1 {
    width: 520px;
    height: 376px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 383px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 231px;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: 223px;
    margin-top: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 199px;
    width: 205px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  font-family: Mitr;
  font-size: 3rem;
  margin: 136px auto;
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
}